#banner{
    background-image: url("../img/banner.jpg");
   height:4.92rem ;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
}
.hd{
    height: 0.46rem;
    position: absolute;
   right:0;
    top:0.26rem;
}
.hm{
    color:#f6d9e3;
    border: solid 1px #f6d9e3;
    width: 100%;
    height: 0.86rem;
    font-size:0.28rem ;
    padding-left: 0.16rem;
    margin-top: 0.46rem;
}


.box{
    padding: 0 0.2rem;
    margin:.48rem 0;
}
.box>label{
    width: 1.68rem;
    height: 1.1rem;
    font-size: 0.32rem;
    border-radius: 8px;
    border: 1px solid #fb9ac7;
}
.box>label.on{
    color: white;
    background-color: #fb9ac7;
    box-shadow: inset 0 -4px 0 rgba(232,120,172,1);
}

.box>label .first.on>img.heart{
    display: block;
}
.box>label .last.on>input.money{
    display: block;
}
.box>label .last.on>span{
   display: none;
}
.heart{
    height: 0.23rem;
    width: 0.26rem;
}
input.money{
    display: none;
    width: 100%;
    padding: 0 0.14rem;
    color: #353535;
    background: transparent;
    text-align: center;
}

#wxzf{
    width: 100%;
    height: 0.88rem;
    border: 1px solid #ffe5f3;
   background-color: white;
}
#wxzf>img{
    height: 0.43rem;
    width: 0.51rem;
}
#wxzf>span{
    font-size: 0.28rem;
    color: #353535;
    margin: 0 4.9rem 0 0.28rem;
}
.quang{
    border-radius: 50%;
    border: 1px solid red;
    height: 0.33rem;
    width: 0.33rem;
}

.gou:checked+.quang{
    background: url(../img/aixi.png) no-repeat;
    background-size: 100% 100%;
    border: 1px solid white
}
.gou{
    display: none;
}

#wwxzf{
    width: 100%;
    height: 0.88rem;
    border: 1px solid #ffe5f3;
    background-color: white;
}
#wwxzf>.tu-1{
    height: 0.36rem;
    width: 0.57rem;
}
#wwxzf>span{
    font-size: 0.28rem;
    color: #353535;
    margin: 0 4.84rem 0 0.24rem;
}
#wwxzf>.tu-2{
    height: 0.38rem;
    width: 0.38rem;
}

#butb{
    padding: 0 0.2rem;
}
#butb>button{
    width: 100%;
    height: 0.88rem;
    background-color: #fb9ac7;
    font-size: 0.3rem;
    border-radius: 8px;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(232 ,120 ,172 ,1);
}
#butb>button:active{
    box-shadow: inset 0 -4px 0 rgba(232 ,120 ,172 ,1);
    transform: translateY(4px);
}
/*弹窗开始1*/
.di{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5) ;
    position: absolute;
z-index: 10;
    /*display: none;*/
}
.xiaodi{
    width: 90vw;
    background: white;
    border-radius:20px;
    padding: 0 .5rem;
}
.hdgz{
    height:1.4rem ;
}
.hdgz>span{
    font-size: 0.32rem;
    color: #f7699e;
    padding: 0 0.16rem;
}
.hdgz>img{
    width:1.6rem ;
    height: 0.02rem;
    color: aqua;
}
ol{
    font-size: 0.26rem;
    color: #f7699e;
   padding: 0 0.5rem;
}
ol>li{
    width: 5rem;
    line-height: 0.45rem;
    vertical-align: top;
    display: inline-block;
}
#but{
    padding: 0 0.2rem;
    margin-bottom: 0.6rem;
}
#but>button{
    width:5.56rem;
    height: 0.88rem;
    background-color: #fb9ac7;
    font-size: 0.3rem;
    border-radius: 8px;
    color: white;
    box-shadow: inset 0 -4px 0 rgba(232 ,120 ,172 ,1);
}
#but>button:active{
    box-shadow: inset 0 -4px 0 rgba(232 ,120 ,172 ,1);
    transform: translateY(4px);
}
/*弹窗结束1*/

/*弹窗开始2*/
.dd{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5) ;
    position: absolute;

    /*display: none;*/
}
.xiaodd{
    width:90vw;
    background:white;
    border-radius:20px;
}
.hh{
    color:#f6d9e3;
    border: solid 1px #f6d9e3;
    border-radius: 8px;
    width: 5.38rem;
    height: 0.88rem;
    font-size:0.28rem ;
    padding-left: 0.16rem;
    margin: 0 0.68rem;
}
.tongzhi{
    font-size: 0.28rem;
    color: #f7699e;
display: inline-block;
    padding: 0 0.68rem;
}
.ann{
font-size: 0;
    margin-top: 0.1rem;
  color: white;

}
.quxiao{
    width:  3.37rem;
    height: 1.2rem;
    background-color: #cbcbcb;
    font-size: 0.3rem;
}
.queren{
    width:  3.37rem;
    height: 1.2rem;
    background-color: #fb9ac7;
    font-size: 0.3rem;
}
/*弹窗结束2*/

/*弹窗开始3*/
.ddd{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.5) ;
    position: absolute;

    /*display: none;*/
}
.xiaoddd{
    width:90vw;
    background:white;
    border-radius:20px;
}

.tongzhiii{
    font-size: 0.28rem;
    color: #f7699e;
    display: inline-block;
   padding: 0.6rem 0.7rem 0.7rem 0.6rem ;
    line-height: 0.46rem;
}
.annn{
    font-size: 0;
    margin-top: 0.1rem;
    color: white;

}
.quxiaoo{
    width:  3.37rem;
    height: 1.2rem;
    background-color: #cbcbcb;
    font-size: 0.3rem;
}
.querenn{
    width:  3.37rem;
    height: 1.2rem;
    background-color: #fb9ac7;
    font-size: 0.3rem;
}

.hh-1{
    font-size: 0.28rem;
    color: crimson;
    display: inline-block;
}
/*弹窗结束3*/

/*蒙层最大层级开始*/
.d-none{
    display: none!important;
}
/*蒙层最大层级结束*/



